.about-paper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #2e6dd3, #9c6dd6);
  opacity: 0.75;
}
.tab-paper{
  margin: 1rem;
  width: 90vw;
}
.landing-heading{
  color: #fff;
  font-family: Ubuntu;
  font-size: 3rem;
  z-index: 22;

}
.landing-text{
  color: #fff;
  font-family: Nanum Brush Script;
  font-size: 2rem;
  z-index: 22;

}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}
.home-card{
  width: 350px;
  height: 280px;
  border: 1px solid #eee;
  border-radius: 1rem;
  box-shadow: 4px  8px 13px #ccc;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.home-card:hover{
    box-shadow: 6px  12px 15px #999;
}
.home-card>h3{
  color: #999;
}
.fa-apple{
  color: #8e8e93 !important;
}
.fa-android{
  color: #a4c639 !important;
}
.fa-react{
  color: #00d8ff !important;
}
.fa-angular{
  color: #b52e31 !important;
}
.fa-node-js{
  color: #6cc24a !important;
}
.fa-globe{
  color: #4e5860 !important;
}
